:root {
  --primary-color: #00c26b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)),
    url(./assets/images/herobg.jpeg);
  background-size: cover;
  background-position: -150px;
}

/*navbar*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

nav img {
  height: auto;
  width: 80px;
}

nav button {
  background-color: transparent;
  outline: none;
  border: none;
  color: rgb(223, 213, 213);
  font-weight: bold;
  font-size: 16px;
  margin-right: 20px;
  padding: 10px 15px;
  border-radius: 10px;
}

nav button:hover {
  color: white;
  background-color: #323843;
  border-radius: 5px;
  cursor: pointer;
}

/*Hero*/
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: -30px;
}

.hero-preheadline p {
  color: var(--primary-color);
  margin: 20px;
  font-weight: bolder;
  font-size: 12px;
}

.hero-headline {
  color: #ffffff;
  margin-top: 20px;
  font-size: larger;
  font-weight: 800;
}

.hero-headline p {
  white-space: pre;
  text-align: center;
  font-size: 20px;
}

#hero-img {
  width: 600px;
}

.hero-button {
  background-color: #00c26b;
  width: 50%;
  padding: 15px;
  border: none;
  border-radius: 3px;
  margin: 20px;
  font-weight: bolder;
}

.hero-button:hover {
  opacity: 0.4;
  color: #040405;
}

#hero-link {
  color: grey;
  text-decoration: none;
  font-size: 10px;
}

#hero-link a {
  color: rgb(197, 197, 197);
}

#hero-signup {
  color: white;
  margin: 5px;
}

/*Library*/

#library-container {
  height: 100vh;
  width: 100vw;
  background-color: #0b0c0f;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lib-preheader {
  color: var(--primary-color);
  font-size: 15px;
  margin: 10px;
}

#lib-header {
  color: white;
  font-weight: 900;
  font-size: 50px;
  margin: 10px;
}

#lib-postheader {
  color: white;
  margin: 10px;
  white-space: pre;
  text-align: center;
}

#lib-img-container {
  display: flex;
  margin: 10px;
}

.lib-img {
  position: relative;
}

.lib-img img {
  width: 300px;
  height: 450px;
  margin: 10px;
  filter: brightness(70%);
}

.lib-img-preheading {
  color: white;
  position: absolute;
  top: 25px;
  left: 30px;
}
.lib-img-heading {
  color: white;
  position: absolute;
  top: 55px;
  left: 30px;
}

/*Billboard*/
#billboard-container {
  height: 100vh;
  width: 100vw;
  background-color: #0b0c0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

#billboard-preheadline {
  color: var(--primary-color);
  margin: 10px;
}

#billboard-headline {
  color: white;
  margin: 10px;
  font-size: 40px;
  font-weight: 900;
}

#billboard-subheadline {
  color: white;
  margin: 10px;
  text-align: center;
  white-space: pre;
}

#billboard-link a {
  margin: 10px;
  color: whitesmoke;
}

#down-arrow {
  margin: 50px;
}

/*Spotlight*/

#spotlight-container {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)),
    url(./assets/images/livesportsbg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}

#tab-button-container {
  display: flex;
  background-color: transparent;
  border: none;
  padding-left: 100px;
}

.tab-button {
  color: #9c9c9c;
  background-color: transparent;
  margin: 10px;
  border: none;
  font-weight: bold;
  padding-bottom: 10px;
}

.active {
  color: white;
  border-bottom: 5px solid white;
}

.spot-main {
  display: flex;
  flex-direction: column;
}

#spot-headline {
  color: white;
  font-size: 60px;
  padding-left: 105px;
}

#spot-subheadline {
  white-space: pre;
  color: white;
  padding-left: 55px;
}

#spot-discalimer {
  color: #bec0c2;
  font-size: 10px;
  padding-left: 105px;
}

#spot-discalimer a {
  color: #bec0c2;
  font-size: 10px;
}
#spot-img {
  display: flex;
  padding-left: 90px;
}

.spot-img-1 {
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.spot-logo {
  width: 30px;
  height: 30px;
}

/*Pricing*/
#plan-container {
  background: #0b0c0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

#plan-heading {
  color: white;
  font-size: 50px;
}

#plan-subheading {
  color: white;
  margin: 10px;
}

#plan-subheading span {
  color: white;
  display: block;
  text-align: center;
  font-weight: 600;
  margin-top: 5px;
}

#pricing-container {
  margin-top: 20px;
}

#pricing-headings {
  display: flex;
  border-top: 1px solid white;
  outline: none;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}

#pricing-heading1 {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  margin-top: 55px;
}

#pricing-heading1-subsection1,
#pricing-heading1-subsection2,
#pricing-heading1-subsection3 {
  margin: 10px;
}

#pricing-heading1-subsection1 p {
  color: white;
}
#pricing-heading1-subsection1 img {
  margin-top: 20px;
  margin-left: 30px;
}

#pricing-heading1-subsection3 p {
  color: white;
}

#pricing-heading1-subsection3 img {
  width: 150px;
}

#ads-hulu {
  color: white;
  margin-bottom: 15px;
  margin-left: 35px;
  margin-top: 8px;
  font-weight: 800;
}
#limited-deal {
  margin-left: 30px;
}
#pricing-heading2 {
  padding: 10px;
  margin-top: 15px;
}
#pricing-heading3 {
  padding: 10px;
  margin-top: 15px;
  background-color: #272c34;
  padding-top: 50px;
}

#button-plan {
  background-color: #ffffff;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 250px;
  height: 50px;
  margin-top: 11px;
}

#pricing-heading3 button {
  background-color: #ffffff;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 250px;
  height: 50px;
  margin-top: 14px;
}

#pricing-heading3 p {
  color: white;
  margin-bottom: 10px;
  padding-left: 15px;
}

#checkbox-container {
  width: 60px;
  height: 30px;
  background-color: #424957;
  border-radius: 20px;
}

#checkbox-circle {
  width: 35px;
  border-radius: 50%;
  height: 30px;
  background-color: #ffffff;
}

#black-friday {
  background-color: var(--primary-color);
  border-radius: 30px;
  font-size: 10px;
  width: 100px;
  height: 30px;
  border: none;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 55px;
}
#limited-deal {
  color: #9d9ea0;
  margin-top: 10px;
}
#free-trial {
  color: #9d9ea0 !important;
  margin-top: 9px;
  margin-left: 20px;
}
#no-ads-hulu {
  margin-left: 40px !important;
  font-weight: 800;
}

#feature1 {
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 30px 0px 30px 10px;
  border-bottom: 1px solid white;
}
#feature1-subsection1 p {
  font-size: 12px;
}

#feature1-subsection2 p {
  margin-left: 200px;
}

#feature1-subsection3 p {
  margin-right: 100px;
}

/*Footer*/

#footer-container {
  height: 70vh;
  width: 100vw;
  background-color: #e8eaed;
}

#footer-top-section {
  border: none;
  padding: 25px 50px;
  display: flex;
  justify-content: space-evenly;
}

.section-link {
  color: #5c6577;
  margin: 10px;
  font-size: 13px;
  white-space: pre;
}

.footer-active {
  color: black;
  font-weight: 550px;
}

#section-1,
#section-2,
#section-3,
#section-4,
#section-5,
#section-6 {
  margin-right: 20px;
}

#section-2,
#section-3,
#section-4 {
  margin-top: 26px;
}

#footer-line {
  margin-left: 110px;
  width: 1150px;
  color: rgb(230, 230, 230);
}

#footer-social {
  padding-left: 115px;
  margin-top: 40px;
}
#footer-social img {
  margin-right: 30px;
}

#footer-links {
  display: flex;
  margin-left: 110px;
  margin-top: 30px;
}

#footer-links p {
  margin-right: 30px;
  font-size: 12px;
  color: #5c6577;
}

#sitemap {
  margin-left: 110px;
  margin-right: 20px;
  font-size: 12px;
  color: #5c6577;
  margin-top: 10px;
}
